@import '~antd/dist/antd.css';
.App {
    text-align: center;
    background-color: #202020;
}

body {
  background-color: #202020;
}

.AColor {
    text-align: center;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #FF6600;
}

.BColor {
    text-align: center;
    background-color: black;
    border-style: solid;
    border-left-width: 8px;
    border-color: #202020;
}

.DColor {
    text-align: center;
    background-color: black;
    border-style: solid;
    border-right-width: 8px;
    border-color: #202020;
}

.TextColor {
    background: linear-gradient(to right, #202020, black, #202020);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.textColor {
    padding-top: 15px;
    background: linear-gradient(black, #202020);
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.chartTooltip {
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

.chartTooltip.hidden {
    display: none;
}

.chartTooltip p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}